h3{
	text-align: center;
	color: blue;
	text-decoration: underline;
}

a{
	color: white;
	background-color: red;
	text-decoration: none;
}

h1{
	
}

h2{
	
}

p{
	
}

h5{
	text-align: center;
}